<a href="https://colab.research.google.com/github/LydiaShammi/MyPythonfile/blob/main/Practice_File_dec_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dfx = pd.DataFrame({'ID': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
                   'name': ['a','s','g','d','fd','df','sd','fsd','cx','v','dfd','xdv','fg','fg','r','th','ynj','hg','b','cx','gfh','xf','ghh','ynj','tj','ghh','fy','jhy','gfhykj','fg'],
                   'class_1': [3,4,5,5,4,3,5,5,4,3,4,3,3,3,4,5,4,3,5,3,5,4,4,5,4,3,3,5,3,4],
                   'house': ['yellow','red','blue','red','yellow','blue','red','red','blue','yellow','blue','red','red','blue','red','yellow','red','blue','red','yellow','red','blue','red','red','yellow','blue','red','yellow','yellow','yellow'],
                   'marks': [70,72,91,35,55,40,20,50,58,42,58,40,100,54,46,51,47,38,21,32,27,53,50,53,67,6,81,67,39,10]})

In [ ]:
print(dfx)

    ID    name  class_1   house  marks
0    1       a        3  yellow     70
1    2       s        4     red     72
2    3       g        5    blue     91
3    4       d        5     red     35
4    5      fd        4  yellow     55
5    6      df        3    blue     40
6    7      sd        5     red     20
7    8     fsd        5     red     50
8    9      cx        4    blue     58
9   10       v        3  yellow     42
10  11     dfd        4    blue     58
11  12     xdv        3     red     40
12  13      fg        3     red    100
13  14      fg        3    blue     54
14  15       r        4     red     46
15  16      th        5  yellow     51
16  17     ynj        4     red     47
17  18      hg        3    blue     38
18  19       b        5     red     21
19  20      cx        3  yellow     32
20  21     gfh        5     red     27
21  22      xf        4    blue     53
22  23     ghh        4     red     50
23  24     ynj        5     red     53
24  25      tj        4  yellow     67
25  26     ghh        3    blue      6
26  27      fy        3     red     81
27  28     jhy        5  yellow     67
28  29  gfhykj        3  yellow     39
29  30      fg        4  yellow     10

In [ ]:
grp1=dfx.groupby(by='class_1')
grp1.agg({'marks':['sum','mean','count','min','max']})

        marks
          sum       mean count min  max
class_1
3         542  49.272727    11   6  100
4         516  51.600000    10  10   72
5         415  46.111111     9  20   91

In [ ]:
grp1=dfx.groupby(by=['class_1','house'])
grp1.agg({'marks':['mean','std','median']})

                    marks
                     mean        std median
class_1 house
3       blue    34.500000  20.289570   39.0
        red     73.666667  30.664855   81.0
        yellow  45.750000  16.700798   40.5
4       blue    56.333333   2.886751   58.0
        red     53.750000  12.284814   48.5
        yellow  44.000000  30.049958   55.0
5       blue    91.000000        NaN   91.0
        red     34.333333  14.361987   31.0
        yellow  59.000000  11.313708   59.0

In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv("Octane.csv")
df.head()

   Sample  Material1  Material2  Material3  Condition  Octane
0       1      55.33       1.72         54    1.66219   92.19
1       2      59.13       1.20         53    1.58399   92.74
2       3      57.39       1.42         55    1.61731   91.88
3       4      56.43       1.78         55    1.66228   92.80
4       5      55.98       1.58         54    1.63195   92.56

In [ ]:
dfm=df['Material1'].mean()
dfm

60.170609756097555

In [ ]:
dfcount=df['Material1'].count()
dfcount

82

In [ ]:
dfstd=df['Material1'].std()
dfstd

12.43739992552937

In [ ]:
dfmax=df['Material2'].max()
print(dfmax)
dfmin=df['Material2'].min()
print(dfmin)

10.76
0.0

In [ ]:
dfdes=df['Material1'].describe()
dfdes

count    82.00000
mean     60.17061
std      12.43740
min       4.23000
25%      55.38000
50%      62.69500
75%      67.78000
max      75.54000
Name: Material1, dtype: float64

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/TrainingByPackt/Data-Science-with-Python/master/Chapter01/Data/student.csv') 
df

SyntaxError: ignored